form.signup,
form.login {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}
body {
    background-image: url('../images/pexels-photo-265242.jpeg');
    background-size: cover;
}
input{
  width:100%;
}
textarea{
  width:100%;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
}
h2 {
  text-align: center;
}
.display-name {
  text-decoration: underline;
  font-weight: bolder;
}

.product-box{
  margin-top: 70px;
  height: 200px;
  width: 100%;
  border: 3px solid rgb(128,124,123);
  overflow: auto;
  background-color: whitesmoke;
}
.message-box{
  height: 300px;
  width: 85%;
  background: url('../images/43047.jpg') ;
  background-size: cover;
  float: left;
  padding: 15px;
  overflow: auto;
  margin-bottom: 70px;
}
.contains-donations{
  height: 300px;
  width:15%;
  float: left;
  background-color: whitesmoke;
  padding: 10px;
}
.product-buttons{
  display: flex;
  justify-content: flex-end;
  margin-top: 145px;
  margin-right:10px;
}
.login {
  right: 0;
  margin-right: 10px;
  position: absolute;
  z-index: 1;
}
.buttons{
  float: right;
  margin-right: 10px;
}
.donationNonCharity-box{
  height:50%;
  width:100%;
}
.donationCharity-box{
  height: 50%;
  width:100%;
}
#delete {
  right:0;
}
#add {
  position: absolute;
  width: 60px;
  height: 60px;
  margin-left: 80%;
  margin-top: 110px;
}
#add:hover {
    transition: width 2s;
    transition: height 2s;
    width: 58px;
    height: 58px;

}
#add:active {
    transition: width 2s;
    transition: height 2s;
    width: 64px;
    height: 64px;
}
#message-area {
    height: 70px;
}
.product-list {
  padding: 30px;
}
#change-ch{
  background-color: rgb(132,201,43);
}
#change-not{
  background-color: rgb(132,201,43);
}
#message-area-btn {
  background-color: rgb(132,201,43);
}
.sect{
  background-color: whitesmoke;
  border-radius: 5px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}